<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Yikes! Page Not Found</h1>
    <img src="https://media1.tenor.com/m/78T_NTBNlskAAAAC/steve-carell-the-office.gif">

<%- include('includes/end.ejs') %>