<!DOCTYPE html>
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Yikes! Page not found
        link(rel="stylesheet" href="/css/main.css")


    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product

        main
            h1 Yikes!... Page not found
            img(src="https://media1.tenor.com/m/LX1reyWcd8EAAAAC/oopsies-ohno.gif")
