<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="div-centralized">
        <h1>Welcome to IT Shop</h1>
    </div>

<%- include('../includes/end.ejs') %>